/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(21, 123, 123);
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    width: 55vh;
}
.title{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 30px;
}

.calccontainer{
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    width: auto;
    border-style:groove;
    border-color: rgb(75, 47, 47);
    border-width: 25px;
    border-radius: 25px;
}
.display{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    padding-bottom: 15px;
    width: 100%;
    caret-color: transparent;
}
#topdisplay, #display{
    border: 0;
    border-radius: 0;
    text-align: right;
    cursor: default;
}

#topdisplay{
    margin-top:auto;
    font-size: 2.3vh;
    color: black;
}
#display{
    color: rgb(111, 108, 108);
}

#topdisplay:disabled, #display:disabled{
    background-color: white;
}
input{
    height: 25px;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
}

input:focus, textarea:focus{
    outline: none;
}

.clear{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

#bck{
    grid-column-start: 3;
    background-color: rgb(145, 131, 102);
}

#clr{
    grid-column-start: 4;
    background-color: rgb(145, 131, 102);
}
button{
    color: rgb(211, 209, 209);
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 25px;
    transform: 0.5s;
}

button:active, #clr:active, #bck:active{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(252, 247, 247);
    transform: translateY(2px);
}

button:hover, #clr:hover, #bck:hover{
    background-color: rgb(26, 104, 92);
    color: black;
}


.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.num{
    background-color: rgb(104, 104, 104);
}

.oper{
    background-color: rgb(6, 135, 135);
}
.dot{
    background-color: rgb(6, 135, 135);
}

.equals{
    background-color: rgb(250, 102, 102);
}

ul{
    list-style-type:circle;
}

.list{
    display: flex;
    font-size: 1.3vh;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 16px;
  }

  a{
      color: inherit;
      text-decoration:overline;
  }